<p id="notice"> <%= notice %> </p>

<h1>Edit Walker</h1>

<%= form_for(@walker) do |f| %>
  <% if @walker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@walker.errors.count, "error") %> prohibited this walker from being saved😢</h2>

      <ul>
        <% @walker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field">
    <%# <%= f.label :name %>
    <%# <%= f.text_field :name %> %> %>
  </div> -->

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <b>What is your experience?</b>
    <br>
    <%= f.radio_button :experience, 'in-training' %>in-training <br>
    <%= f.radio_button :experience, 'apprentice' %> apprentice <br>
    <%= f.radio_button :experience, 'certified' %> certified <br>
    <br>
  </div>

  <div class="field">
    <b>Are you a dog owner?</b>
    <%= f.check_box :own_dogs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<br>
<p> <%= link_to "Back", walkers_path %> | <%= link_to "Profile Page", @walker %></p>
