<p id="notice"> <%= notice %> </p>

<h1>Register</h1>

  <div class="field">
    <%= f.label :age %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <b>What is your experience?</b>
    <br>
    <%= f.radio_button :experience, 'in-training' %> in-training <br>
    <%= f.radio_button :experience, 'apprentice' %> apprentice <br>
    <%= f.radio_button :experience, 'certified' %> certified <br>
    <br>
  </div>

  <div class="field">
    <b>Are you a dog owner?</b>
    <%= f.check_box :own_dogs %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
