<h1> <%= @walker.user.name %>'s Booked Appointments</h1>
<% @walker.appointments.each do |app| %>
<p><%= app.dog.name %> | <%= app.datetime.strftime("%a %b %d %-I:%M%p") %></p>
<% end %>

<%= link_to "Book another dog", new_appointment_path %>


<hr />
<p>My Info:</p>
<div class="">
  <p>Age: <%= @walker.age %></p>
  <p>Experience: <%= @walker.experience %></p>
  <p>Dogs Owned: <%= @walker.own_dogs %></p>
</div>
<p> <%= link_to "Edit", edit_walker_path %></p>
