<div class="text-center">
<h1> <%= @walker.name %>'s Booked Appointments</h1>
<% if @walker.service_appointments != [] %>
  <% @walker.service_appointments.each do |ser_app| %>
    <ul class="dog-pics">
      <% if ser_app.appointment != nil %>
        <li><%= ser_app.appointment.dog.name %> | <%= link_to ser_app.appointment.date, ser_app %> <%= ser_app.appointment.dog.name %> | <%= ser_app.appointment.start_time%> <%= ser_app.appointment.end_time%><br>
          <% if !!ser_app.appointment.dog.image_url %>
          <%= image_tag(ser_app.appointment.dog.image_url, :size => '260x180') %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% else %>
<p>No current appointments. Why not <%= link_to "book one", new_appointment_path %>!</p>
<% end %>

<%= link_to "Book another dog", new_appointment_path %>


<hr />
<p>My Info:</p>
<div class="">
  <p>Age: <%= @walker.age %></p>
  <p>Experience: <%= @walker.experience %></p>
  <p>Dogs Owned: <%= @walker.own_dogs %></p>
</div>
<p> <%= link_to "Edit", edit_walker_path %></p>
</div>
