<p id="notice"> <%= notice %></p>

<h1>All Users</h1>

<table>
  <th>
    <tr>
      <th>Owners</th>
      <th>Role</th>
      <th colspan ="6"></th>
    </tr>
  </th>

  <tbody>
    <tr>
      <% @owner.each do |owner| %>
      <td> <%= owner.name %></td>
      <td> <%= owner.role %></td>
      <td> <%= link_to 'New', new_owner_path %></td>
      <td> <%= link_to 'Delete', owner, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <th>
    <tr>
      <th>Walkers</th>
      <th>Role</th>
      <th colspan ="6"></th>
    </tr>
  </th>

  <tbody>
    <tr>
      <% @walker.each do |walker| %>
      <td> <%= walker.name %></td>
      <td> <%= walker.role %></td>
      <td> <%= link_to 'New', new_walker_path %></td>
      <td> <%= link_to 'Delete', walker, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
