

<h1>All Users</h1>

<table class="container">
  <th>
    <tr>
      <th>Owners</th>
      <th>City</th>
      <th colspan ="6"></th>
    </tr>
  </th>

  <tbody>
    <tr>
      <% @owners.each do |owner| %>
      <td> <%= owner.name %></td>
      <td> <%= owner.city %></td>
      <td> <%= link_to 'Edit', edit_owner_path(owner) %></td>
      <td> <%= link_to 'Delete', owner, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<table class="container">
  <th>
    <tr>
      <th>Walkers</th>
      <th>Experience</th>
      <th colspan ="6"></th>
    </tr>
  </th>

  <tbody>
    <tr>
      <% @walkers.each do |walker| %>
      <td> <%= walker.name %></td>
      <td> <%= walker.experience %></td>
      <td> <%= link_to 'Edit', edit_walker_path(walker) %></td>
      <td> <%= link_to 'Delete', walker, method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>
