<h1> <%= @user.name %> Profile Page</h1
<hr>

<p> <b>My current role:</b> <%= @user.role %></p>
<p> <b>Username: </b><%= @user.username %></p>
<p> <b>Email:</b> <%= @user.email  %></p>
<% if @user.role == "owner" && !!@user.owner%>
  <%= link_to "My Owner Home Page", owner_path(@user.owner) %>
<% elsif @user.role == "walker" && !!@user.walker%>
<%= link_to "My Walker Home Page", walker_path(@user.walker) %>
<% else %>
  <%= link_to "Register as a dog owner", new_owner_path %> ||
  <%= link_to "Register as a dog walker", new_walker_path %>
<% end %>
