<div class="text-center">
<h1>Service Appointment</h1>

<p id="notice"> <%= notice %> </p>


<%= form_for(@service_appointment) do |f| %>
  <% if @service_appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service_appointment.errors.count, "error") %> prohibited this service appointment from being saved😢</h2>

      <ul>
        <% @service_appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field :appointment_id %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :service_id %>
  </div>

  <div class="form-group">
    <%= f.label "Walker name" %>
    <%= f.collection_select :walker_id, Walker.all, :id, :name %>
  </div>

  <div class="form-group">
    <%= f.hidden_field :service_total %>
  </div>
<hr>

  <div class="text-center">
    <h3>Service Section</h3>
  </div>



  <div class="form-group">
    <label for="walkernotes"><strong>Walker Notes</strong></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>
<hr>
  <div class="text-center">
    <h3>Dog Owner Section</h3>
  </div>

  <div class="form-group">
    <b>Service Complete?</b>
    <%= f.check_box :walked %>
  </div>

  <div class="form-group">
    <b>Service Rating</b>
    <%= f.select :walk_rating, (0..10) %>
  </div>

  <div class="form-group">
    <label for="ownercomments"><strong>Owner Comments</strong></label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
