<h1> Book a Dog </h1>



<div class="field">
  <%= f.label :status %>
  <%= f.text_field :status %>
</div>

<div class="field">
  <%= f.label :walked %>
  <%= f.text_field :walked %>
</div>


<div class="field">
  <%= f.label :walk_rating %>
  <%= f.text_field :walk_rating %>
</div>

<div class="field">
  <%= f.time_select :comment,
  :combined => true,
  :default => Time.now.change(:hour => 6, :min => 00),
  :minute_interval => 15,
  :time_separator => "",
  :start_hour => 6,
  :start_minute => 00,
  :end_hour => 19,
  :end_minute => 00
%>
</div>




<div class="field">
  <%= f.fields_for  :service do |service|%>
  <%= service.label :service %>
  <%= service.collection_select :name, @services, :id, :name %>
  <% end %>
</div>
