<p id="notice"> <%= notice %> </p>


<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved😢</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      Choose your pet: <%= f.collection_select :dog_id, Dog.all, :id, :name %>
  </div>

  <div class="form-group">
      Choose your date: <%= f.date_select :date %>
  </div>

  <div class="form-group">
    Start_time: <%= f.time_select :start_time,
    :combined => true,
    :default => Time.now.change(:hour => 6, :min => 00),
    :minute_interval => 15,
    :time_separator => "",
    :start_hour => 6,
    :start_minute => 00,
    :end_hour => 19,
    :end_minute => 00
  %>
    End_time: <%= f.time_select :end_time,
    :combined => true,
    :default => Time.now.change(:hour => 6, :min => 00),
    :minute_interval => 15,
    :time_separator => "",
    :start_hour => 6,
    :start_minute => 00,
    :end_hour => 19,
    :end_minute => 00
  %>
  </div>


  <div class="form-group">
    Status: <%= f.text_field  :status %>
  </div>

  <div class="form-group">
    Service: <%= f.collection_select :services, Service.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit  "book appointment" %>
  </div>
  <% end %>
