<h1>Create Booking </h1>

<p id="notice"> <%= notice %> </p>


<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved😢</h2>

      <ul>
        <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address%>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<!-- t.integer "dog_id"
t.integer "walker_id"
t.datetime "datetime"
t.integer "status", default: 0
t.boolean "walked", default: false
t.integer "walk_rating"
t.string "comment" -->
