
<div class="card text-center">
  <div class="card-header">
  <h1>Appointment for </h1>
  </div>
  <div class="card-body">
    <% if !!@appointment.dog %>
      <h5 class="card-title"><%= @appointment.dog.name %></h5>
      <p class="card-text">Appointment date: <%= @appointment.date.strftime("%a %b %d")%></p>
      <p class="card-text">Appointment begin: <%= @appointment.start_time.strftime("%-I:%M:%p") %></p>
      <p class="card-text">Appointment end: <%= @appointment.end_time.strftime("%-I:%M:%p") %></p>
      <p class="card-text">Walked: <%= @appointment.status %></p>
      <% if @appointment.service_appointments != [] %>
      <a href=" <%= edit_service_appointment_path(@appointment.dog_id) %>" class="btn btn-primary">Update</a>
    </div>
    <div class="card-footer text-muted">
    </div>
    <% end %>
  <% else %>
    <p>No set appointments.</p>
  <% end %>
</div>
