<div class="text-center">
<h1>Appointment for <%= @appointment.dog.name %> </h1>
<ul class="no-bullets">
  <li>Appointment date: <%= @appointment.date%></li>
  <li>Appointment begin: <%= @appointment.start_time %></li>
  <li>Appointment end: <%= @appointment.end_time %></li>
  <li>Walked: <%= @appointment.status %>

</ul>
</div>
